<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FastAPI App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        .navbar-menu {
            justify-content: flex-end;
        }
        .box {
            margin-bottom: 1rem;
        }
        @media (max-width: 768px) {
            .columns.is-flex {
                flex-direction: column;
            }
            .column.is-half {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="https://forms.gle/b5UA5fQSexDtXfox6"><strong>Feedback</strong></a>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Built by <a href="https://marcolamina.me">Marco Lamina</a> using <a href="https://www.pr-pilot.ai">PR Pilot</a>
        </p>
    </div>
</footer>

</body>
</html>
